html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Dosis", sans-serif;
}

.link-card {
  display: inline;
  background-color: #dcd4cd;
  border-radius: 3px;
}

dd {
  margin: 0;
}

.btn-wrap {
  text-decoration: none;
}

.btn {

}
