html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  text-decoration: none;
  background-color: #dcd4cd;
  border-radius: 6.5px;
  border: solid #9a816d;
  padding: 1rem;
}

.link-card h2 {
  margin: 0;
  font-family: Dosis, sans-serif;
  color: #512200;
  line-height: 1.5rem;
  font-weight: bold;
}

p {
  color: #512200;
}

.link-card nav {
  line-height: 1.5rem;
  font-size: .875rem;
  color: #512200;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
}

dt {

}

dd {
  margin-right: 5.5em;
  font-style: italic;
  float: right;
  line-height: 0;
  width: 5em;
}

.btn-wrap {
  text-align: center;
  margin: 1rem 0 0;
}

.btn {
  display: inline-block;
  font-family: Dosis, sans-serif;
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  line-height: 1.5rem;
  background-color: #785439;
  padding: .4em .75em .5em;
  border-radius: 8px;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #9a816d;
}

.link-card:hover .btn {
  background-color: #512200;
}
